@model PagedList.IPagedList<ContosoUniversity.Models.ApplicationUser>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "用户管理";
}

<div class="row">

    <div class="col-lg-2">

        <ul class="nav nav-pills nav-stacked" id="leftMenu">
            <li>@Html.ActionLink("我的项目", "Projects", "Manager")</li>
            <ul>
                <li><span>公司网站</span></li>
                <li>@Html.ActionLink("项目需求", "Requirement", "Manager")</li>
                <li>@Html.ActionLink("系统分析", "Analysis", "Manager")</li>
                <li>@Html.ActionLink("项目日志", "Logs", "Manager")</li>
            </ul>
            <li>@Html.ActionLink("项目资料", "Docs", "Manager")</li>

            <li>@Html.ActionLink("消息中心", "Message", "Manager")</li>

            <li>@Html.ActionLink("设置", "Setting", "Manager")</li>
            @{
                if (User.IsInRole("Admin"))
                {
                    <li>admin</li>
                    <ul>
                        <li class="active">@Html.ActionLink("用户管理", "Users", "Admin") </li>
                    </ul>
                }
            }

        </ul>

    </div>

    <div class="col-lg-10">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>用户名</th>
                    <th>邮件地址</th>
                    <th>管理</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                            <td>@Html.DisplayFor(modelItem => item.Email)</td>
                            <td><a href="#@item.Id">查看</a> </td>
                            
                        </tr>
                    }

                }

            </tbody>
        </table>

        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Users", "Admin",
            new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

    </div>
</div>








