<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
	layout:decorator="fragments/backend_layout">
<head>
	<meta charset="UTF-8"/>
	<title>新增、编辑</title>
</head>
<body>
<div layout:fragment="content">

	<div class="row">

		<div class="col-md-20">
		
		<form  action="submit-blog-edit.action" role="form" method="post" id="blog_edit_form">
			
			<input type="hidden" name="id" />
						
			 <div class="form-group">
				<input type="text" name="title" id="title" maxlength="250" placeholder="文章标题" class="form-control"/>
			</div>
			<div class="form-group">
				<textarea rows="10" cols="6" name="content" class="form-control"></textarea>
			</div>
			<div class="form-group">
				<input type="text" name="keywords" id="title" placeholder="关键字" maxlength="100" class="form-control"/>
			</div>
			<div class="form-group">
			
				<input type="submit" class="btn btn-default" value="发布" />
	
				<input type="submit" class="btn btn-default" value="保存" />		
			</div>
			
		</form>
			
		</div>	
		<div  class="col-md-4">
		
		</div>			
	</div>
	

</div>

<th:block layout:fragment="script">
<script type="text/javascript" src="../plugins/tinymce/tinymce.min.js"></script>

<script type="text/javascript" src="../plugins/bootstrapvalidator/bootstrapValidator.min.js"></script>
<script type="text/javascript" src="../plugins/bootstrapvalidator/language/zh_CN.js"></script>
	
<script th:inline="javascript">
/*<![CDATA[*/
           
function formValidator(){
	
	$('#blog_edit_form').bootstrapValidator({
		message: '输入信息验证不通过',
		fields: {
			title: {
				message: '标题信息输入不正确！',
				validators: {
					notEmpty: {
						message: '标题不能为空！'
					},
					stringLength: {
						min: 2,
						max: 100,
						message: '标题不能小于2个字，也不能大于100个字！'
					}
				}
			},
			content: {
				validators: {
					notEmpty: {
						message: '内容不能为空！'
					}
				}
			}
		}
	}).on('success.form.bv', function(e) {
        e.preventDefault();
       
       // var editor=$('#editor')[0].contentWindow.editor;
        
      //  $("#content").val(editor.getHTML());
                
   	  	$.ajax({
          url: $(this).attr('action'),
          type: 'POST',
          data: $(this).serialize(),
          success: function(result) {
          	console.log(result);

              if(result.success){
              	
            	  go2page("/blog/list.html");
              	
              }else{
              	 message(result.msg);
              }
          }
      });
    });
}

	$(function(){
		
		formValidator();
		
		tinymce.init({
				selector:'textarea',
				theme: "modern",
				language: "zh_CN",
				 inline: false,
				 menubar:false,
				 statusbar: false
		});

	});
/*]]>*/
</script>
</th:block>
</body>
</html>