<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" layout:decorator="fragments/layout">
<head>
	<meta charset="UTF-8"/>
	<title>博客列表</title>	    
</head>
<body>

<div layout:fragment="content">

<div class="row">
	<div class="col-md-16">
 
      <div th:each="row,rowStat : ${list}">
   
      <div class="item">
		<div class="content">
		 <span class="title" th:text="${row.title}">Lorem Ipsum</span>
		  teikaei 发布于<em>2015-11-10 13:41:59</em> 
		  <div class="tag" th:utext="${row.content}">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
		  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
		  laboris nisi ut aliquip ex ea commodo consequat.</div>
		 
		</div>
		<div class="keyword-image">
			<div class="media-img">            
            	<img src="/images/338.jpg" style="width:128px;height :auto;" alt="" />
        	</div>
		</div>
		<div class="clear"></div>
		<div class="tools">
				<ul  class="list-inline">
							<li><b><a href="/articles/446809.htm">详细内容</a></b></li>
							<li>已有<em>0</em>个意见&nbsp;&nbsp;|
							</li>
							<li><em>0</em>次推荐&nbsp;&nbsp;|</li>
							<li><em>0</em>次打分&nbsp;&nbsp;|</li>							
				</ul>
		</div>
		
	</div>
	    
        
      </div>
    
        <nav>
        <ul class="pager">
            <li class="pager-prev">
                <a href="#" aria-label="Previous">
                    <i aria-hidden="true" class="glyph glyph-chevron-left-2"></i>
                </a>
            </li>
            <li class="pager-next">
                <a href="#" aria-label="Next">
                    <i aria-hidden="true" class="glyph glyph-chevron-right-2"></i>
                </a>
            </li>
        </ul>
    </nav>
    
	</div>
	<div class="col-md-8">
<ul class="list-unstyled">
<li> <a href="#">spring-boot</a></li>
<li> <a href="#">spring</a></li>
<li> <a href="#">docker</a></li>
<li> <a href="#">react/native rect</a></li>
</ul>
	</div>
</div>


  
</div>

<th:block layout:fragment="script">
<script th:inline="javascript">
/*<![CDATA[*/
	$(function(){
		
		$("#btn_test").click(function(){
			
			var editor=$('#editor')[0].contentWindow.editor;
			
		 	console.log( editor.getHTML());
			
		});
	});
/*]]>*/
</script>
</th:block>

</body>
</html>