<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" layout:decorator="fragments/layout">
<head>
	<title>客户案例</title>	
</head>
<body>
<div layout:fragment="content">

<div class="row">

    <div class="col-lg-2">
        <ul class="nav nav-pills nav-stacked" role="tablist">
            <li><a href="/web-make">建站流程</a></li>
            <li class="active"><a >客户案例</a> </li>
        </ul>

    </div>
    <div class="col-lg-10">

        <div class="row">
                 <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <img data-src="holder.js/100%x200" alt="@Html.DisplayFor(modelItem => item.title)" src="~/templates/@Html.DisplayFor(modelItem => item.dirName)/@Html.DisplayFor(modelItem => item.screenPic)" style="height: 200px; width: 100%; display: block;"/>
                            <div class="caption">
                                <h3>@Html.DisplayFor(modelItem => item.title)</h3>
                                <p>@Html.DisplayFor(modelItem => item.desc)</p>
                                <p><a href="#" class="btn btn-primary" role="button">选择</a> <a target="_blank" href="~/templates/@Html.DisplayFor(modelItem => item.dirName)/@Html.DisplayFor(modelItem => item.url)" class="btn btn-default" role="button">演示</a></p>

                            </div>
                        </div>
                  </div>
        </div>

    </div>

</div>
</div>

</body>
</html>