<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" layout:decorator="fragments/layout">
<head>
	<title>建站流程</title>	
</head>
<body>
<div layout:fragment="content">
<div class="row">

    <div class="col-lg-2">
        <ul class="nav nav-pills nav-stacked" role="tablist">
            <li class="active"><a>建站流程</a></li>
            <li><a href="/web-make/cases">客户案例</a></li>
        </ul>

    </div>
    <div class="col-lg-10">
        <!--
        <ul>
            <li>选择模板</li>
            <li>需求分析、网站规划</li>
            <li>前台页面设计</li>
            <li>页面效果确认</li>
            <li>提交订单，支付定金</li>
            <li>网站开发</li>
            <li>网站数据库建立，后台代码实现</li>
            <li>前台调试</li>
            <li>网站测试</li>
            <li>网站完成后进入试运行状态</li>
            <li>网站发布</li>
            <li>网站发布后跟踪维护反馈</li>
                
        </ul>
        -->
        <img src="images/site_flow.jpg" class="img-responsive" alt="网站制作客户操作流程图" />

    </div>

</div>
</div>

</body>
</html>

