<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" layout:decorator="fragments/layout">
<head>
	<title>56我帮</title>	
</head>
<body>
<div layout:fragment="content">

<div class="row">

    <div class="col-lg-2">
        <ul class="nav nav-pills nav-stacked" role="tablist">            
            <li><a href="/web-make"> 建站流程</a></li>
            <li><a href="/web-make/cases">客户案例</a> </li>
            <li  class="active"><a >付款方式</a></li>            
        </ul>
    </div>
    <div class="col-lg-10">


    </div>

</div>
</div>

</body>
</html>