@{
    ViewBag.Title = "系统开发";
}

<div class="row">

    <div class="col-lg-2">
        <ul class="nav nav-pills nav-stacked">
            <li ><a href="#">系统定制开发</a></li>
            <li><a href="#">论坛建设</a></li>
            <li><a href="#">网上商场</a></li>
        </ul>
    </div>
    <div class="col-lg-10">
        <ul>
            <li>定制公司管理系统、企业客户管理系统（CRM）,帮助企业进行电子化升级；</li>
            <li>帮您安装维护论坛系统，基于phpwind、discuz的维护和升级、二次开发；</li>
            <li>建设自己的b2c商场，让你拥有京东、易迅类似的网上商场；</li>
        </ul>

    </div>
</div>


