<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" layout:decorator="fragments/layout">
<head>	
	<title>关于我们</title>		
</head>
<body>
<div layout:fragment="content">

<div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-xs-24">
                    <h3>关于我<del>们</del></h3>
                    <p>这是一个个人网站，谈谈编程、聊聊人生，仅此而已！</p>
    				<p>当然，如果您有软件系统上的问题，能够帮忙，也不错。</p>
    				<p>不会修电脑————请见谅^_^</p>	
                    <ul class="nav nav-pills">
                        <li role="presentation" class="active">
                            <a href="#nav-item-1">Nav item 1</a>
                        </li>
                        <li role="presentation">
                            <a href="#nav-item-2">Nav item 2</a>
                        </li>
                        <li role="presentation">
                            <a href="#nav-item-3">Nav item 3</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  
</div>

<th:block layout:fragment="script">
	
<script th:inline="javascript">
/*<![CDATA[*/

	$(function(){
		
	});
/*]]>*/
</script>   
            
</th:block>

</body>
</html>