<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" layout:decorator="fragments/layout" >
<head>	
	<title>56我帮.商城</title>		
</head>
<body>
<div layout:fragment="content">
  
	<div class="row">
		<div class="col-md-4">
		<a class="btn btn-lightweight no-outline navigation-btn">Father John Misty</a>
		
	<ul role="navigation" id="sidenav-small" class="nav side-navigation side-navigation-small theme-default">
       
        <li class="active side-nav-c2">
            <a data-toggle="collapse" data-parent="#sidenav-small" href="#father-john-misty" aria-expanded="true" aria-controls="#father-john-misty">Father John Misty</a>
            <ul class="nav collapse in" id="father-john-misty">
                <li><a href="#sidenav-small">Fear Fun</a></li>
                <li><a href="#sidenav-small" class="active">I Love You Honeybear</a></li>
            </ul>
        </li>
        <li class="side-nav-c2">
            <a data-toggle="collapse" data-parent="#sidenav-small" href="#the-national" aria-expanded="false" aria-controls="#the-national">The National</a>
            <ul class="nav collapse" id="the-national">
                <li><a href="#sidenav-small">The National</a></li>
                <li><a href="#sidenav-small">Songs for Dirty Lovers</a></li>
                <li><a href="#sidenav-small">Alligator</a></li>
                <li><a href="#sidenav-small">Boxer</a></li>
                <li><a href="#sidenav-small">High Violet</a></li>
                <li><a href="#sidenav-small">Trouble Will Find Me</a></li>
            </ul>
        </li>
        <li class="side-nav-c2">
            <a data-toggle="collapse" data-parent="#sidenav-small" href="#the-strokes" aria-expanded="false" aria-controls="#the-strokes">The Strokes</a>
            <ul class="nav collapse" id="the-strokes">
                <li><a href="#sidenav-small">Is this it?</a></li>
                <li><a href="#sidenav-small">Room on Fire</a></li>
                <li><a href="#sidenav-small">First Impressions of Earth</a></li>
                <li><a href="#sidenav-small">Angels</a></li>
                <li><a href="#sidenav-small">Comedown Machine</a></li>
            </ul>
        </li>
        <li class="side-nav-c2">
            <a data-toggle="collapse" data-parent="#sidenav-small" href="#glass-animals" aria-expanded="false" aria-controls="#glass-animals">Glass Animals</a>
            <ul class="nav collapse" id="glass-animals">
                <li><a href="#sidenav-small">Zaba</a></li>
            </ul>
        </li>
        <li class="side-nav-c2">
            <a data-toggle="collapse" data-parent="#sidenav-small" href="#imagine-dragons" aria-expanded="false" aria-controls="#imagine-dragons">Imagine Dragons</a>
            <ul class="nav collapse" id="imagine-dragons">
                <li><a href="#sidenav-small">Night Vision</a></li>
                <li><a href="#sidenav-small">Smoke + Mirrors</a></li>
            </ul>
        </li>
    </ul>
			
		</div>	
		<div class="col-md-20">
		
		<div class="row">
			<div class="col-md-4">
                <figure class="media">
                    <div class="media-img ratio-movie">
                        <a href="#" class="no-outline">
                            <img src="/images/6.jpg" alt=""/>
                        </a>
                    </div>
                    <figcaption class="media-caption">
                        <h4 class="media-header">
                            <a href="#">Header</a>
                        </h4>
                        <div class="media-subheader">
                            <a href="#">Subheader</a>
                        </div>
                        <div class="rating rating-small">
                            <div class="rating-stars">
                                <ul class="rating-stars-background">
                                    <li><i class="glyph glyph-star"></i></li><li>
                                    <i class="glyph glyph-star"></i></li><li>
                                    <i class="glyph glyph-star"></i></li><li>
                                    <i class="glyph glyph-star"></i></li><li>
                                    <i class="glyph glyph-star"></i></li>
                                </ul>
    
                                <ul class="rating-stars-value" style="width: 80%">
                                    <li><i class="glyph glyph-star"></i></li><li>
                                    <i class="glyph glyph-star"></i></li><li>
                                    <i class="glyph glyph-star"></i></li><li>
                                    <i class="glyph glyph-star"></i></li><li>
                                    <i class="glyph glyph-star"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="media-price">
                            <s>$1,499.99</s> $1,299.99
                        </div>
                    </figcaption>
                </figure>
            </div>
            
            <div class="col-md-4">
                <figure class="media">
                    <div class="media-img ratio-movie">
                        <a href="#" class="no-outline">
                            <img src="/images/6.jpg" alt=""/>
                        </a>
                    </div>
                    <figcaption class="media-caption">
                        <h4 class="media-header">
                            <a href="#">Header</a>
                        </h4>
                        <div class="media-subheader">
                            <a href="#">Subheader</a>
                        </div>
                        <div class="rating rating-small">
                            <div class="rating-stars">
                                <ul class="rating-stars-background">
                                    <li><i class="glyph glyph-star"></i></li><li>
                                    <i class="glyph glyph-star"></i></li><li>
                                    <i class="glyph glyph-star"></i></li><li>
                                    <i class="glyph glyph-star"></i></li><li>
                                    <i class="glyph glyph-star"></i></li>
                                </ul>
    
                                <ul class="rating-stars-value" style="width: 80%">
                                    <li><i class="glyph glyph-star"></i></li><li>
                                    <i class="glyph glyph-star"></i></li><li>
                                    <i class="glyph glyph-star"></i></li><li>
                                    <i class="glyph glyph-star"></i></li><li>
                                    <i class="glyph glyph-star"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="media-price">
                            <s>$1,499.99</s> $1,299.99
                        </div>
                    </figcaption>
                </figure>
            </div>
            
            <div class="col-md-4">
                <figure class="media">
                    <div class="media-img ratio-movie">
                        <a href="#" class="no-outline">
                            <img src="/images/6.jpg" alt=""/>
                        </a>
                    </div>
                    <figcaption class="media-caption">
                        <h4 class="media-header">
                            <a href="#">Header</a>
                        </h4>
                        <div class="media-subheader">
                            <a href="#">Subheader</a>
                        </div>
                        <div class="rating rating-small">
                            <div class="rating-stars">
                                <ul class="rating-stars-background">
                                    <li><i class="glyph glyph-star"></i></li><li>
                                    <i class="glyph glyph-star"></i></li><li>
                                    <i class="glyph glyph-star"></i></li><li>
                                    <i class="glyph glyph-star"></i></li><li>
                                    <i class="glyph glyph-star"></i></li>
                                </ul>
    
                                <ul class="rating-stars-value" style="width: 80%">
                                    <li><i class="glyph glyph-star"></i></li><li>
                                    <i class="glyph glyph-star"></i></li><li>
                                    <i class="glyph glyph-star"></i></li><li>
                                    <i class="glyph glyph-star"></i></li><li>
                                    <i class="glyph glyph-star"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="media-price">
                            <s>$1,499.99</s> $1,299.99
                        </div>
                    </figcaption>
                </figure>
            </div>
            
            <div class="col-md-4">
                <figure class="media">
                    <div class="media-img ratio-movie">
                        <a href="#" class="no-outline">
                            <img src="/images/6.jpg" alt=""/>
                        </a>
                    </div>
                    <figcaption class="media-caption">
                        <h4 class="media-header">
                            <a href="#">Header</a>
                        </h4>
                        <div class="media-subheader">
                            <a href="#">Subheader</a>
                        </div>
                        <div class="rating rating-small">
                            <div class="rating-stars">
                                <ul class="rating-stars-background">
                                    <li><i class="glyph glyph-star"></i></li><li>
                                    <i class="glyph glyph-star"></i></li><li>
                                    <i class="glyph glyph-star"></i></li><li>
                                    <i class="glyph glyph-star"></i></li><li>
                                    <i class="glyph glyph-star"></i></li>
                                </ul>
    
                                <ul class="rating-stars-value" style="width: 80%">
                                    <li><i class="glyph glyph-star"></i></li><li>
                                    <i class="glyph glyph-star"></i></li><li>
                                    <i class="glyph glyph-star"></i></li><li>
                                    <i class="glyph glyph-star"></i></li><li>
                                    <i class="glyph glyph-star"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="media-price">
                            <s>$1,499.99</s> $1,299.99
                        </div>
                    </figcaption>
                </figure>
            </div>
            
            <div class="col-md-4">
                <figure class="media">
                    <div class="media-img ratio-movie">
                        <a href="#" class="no-outline">
                            <img src="/images/6.jpg" alt=""/>
                        </a>
                    </div>
                    <figcaption class="media-caption">
                        <h4 class="media-header">
                            <a href="#">Header</a>
                        </h4>
                        <div class="media-subheader">
                            <a href="#">Subheader</a>
                        </div>
                        <div class="rating rating-small">
                            <div class="rating-stars">
                                <ul class="rating-stars-background">
                                    <li><i class="glyph glyph-star"></i></li><li>
                                    <i class="glyph glyph-star"></i></li><li>
                                    <i class="glyph glyph-star"></i></li><li>
                                    <i class="glyph glyph-star"></i></li><li>
                                    <i class="glyph glyph-star"></i></li>
                                </ul>
    
                                <ul class="rating-stars-value" style="width: 80%">
                                    <li><i class="glyph glyph-star"></i></li><li>
                                    <i class="glyph glyph-star"></i></li><li>
                                    <i class="glyph glyph-star"></i></li><li>
                                    <i class="glyph glyph-star"></i></li><li>
                                    <i class="glyph glyph-star"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="media-price">
                            <s>$1,499.99</s> $1,299.99
                        </div>
                    </figcaption>
                </figure>
            </div>
            
            <div class="col-md-4">
                <figure class="media">
                    <div class="media-img ratio-movie">
                        <a href="#" class="no-outline">
                            <img src="/images/6.jpg" alt=""/>
                        </a>
                    </div>
                    <figcaption class="media-caption">
                        <h4 class="media-header">
                            <a href="#">Header</a>
                        </h4>
                        <div class="media-subheader">
                            <a href="#">Subheader</a>
                        </div>
                        <div class="rating rating-small">
                            <div class="rating-stars">
                                <ul class="rating-stars-background">
                                    <li><i class="glyph glyph-star"></i></li><li>
                                    <i class="glyph glyph-star"></i></li><li>
                                    <i class="glyph glyph-star"></i></li><li>
                                    <i class="glyph glyph-star"></i></li><li>
                                    <i class="glyph glyph-star"></i></li>
                                </ul>
    
                                <ul class="rating-stars-value" style="width: 80%">
                                    <li><i class="glyph glyph-star"></i></li><li>
                                    <i class="glyph glyph-star"></i></li><li>
                                    <i class="glyph glyph-star"></i></li><li>
                                    <i class="glyph glyph-star"></i></li><li>
                                    <i class="glyph glyph-star"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="media-price">
                            <s>$1,499.99</s> $1,299.99
                        </div>
                    </figcaption>
                </figure>
            </div>
            
		</div>
		
		<element class="m-r-md"></element>
		
		</div>	
	
	</div>
	
	<div class="row">
		<div class="col-xs-24">
			<div class="table-responsive">
    <table class="table table-striped">
        <thead>
          <tr>
            <th>Item</th>
            <th>Description</th>
            <th class="text-right">Price</th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td>Gadget Alpha</td>
                <td>This is the amazing new Gadget Alpha.</td>
                <td class="text-right">$0.99</td>
            </tr>
            <tr>
                <td>Gadget Bravo</td>
                <td>Also available is the Gadget Bravo which provides B.</td>
                <td class="text-right">$2.99</td>
            </tr>
            <tr>
                <td>Gadget Charlie</td>
                <td>This is the lorem ipsumist Gadget Charlie.</td>
                <td class="text-right">$1.99</td>
            </tr>
            <tr>
                <td>Gadget Delta</td>
                <td>Also available is the Gadget Bravo which provides B.</td>
                <td class="text-right">$2.99</td>
            </tr>
            <tr>
                <td>Gadget Echo</td>
                <td>Gadget Delta is a solor dit lipsum for consumers.</td>
                <td class="text-right">$2.99</td>
            </tr>
            <tr>
                <td>Gadget Foxtrot</td>
                <td>Gadget Echo provides solor dit for professionals.</td>
                <td class="text-right">$1.99</td>
            </tr>
        </tbody>
    </table>
    </div>
			
		</div>
	</div>
	
	<div class="row">
	<div class="col-xs-24">
	<nav>
        <ul class="pagination">        
            <li class="pagination-prev">
                <a href="#" aria-label="Previous">
                    <i aria-hidden="true" class="glyph glyph-chevron-left-2"></i>
                </a>
            </li>
    
            <li><a href="#">1</a></li>
    
            <li class="pagination-ellipsis"><span>&hellip;</span></li>
    
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
    
            <li class="active"><a href="#">7</a></li>
    
            <li><a href="#">8</a></li>
            <li><a href="#">9</a></li>
    
            <li class="pagination-ellipsis"><span>&hellip;</span></li>
    
            <li><a href="#">15</a></li>
    
            <li class="pagination-next">
                <a href="#" aria-label="Next">
                    <i aria-hidden="true" class="glyph glyph-chevron-right-2"></i>
                </a>
            </li>
        </ul>
    </nav>
	</div>
	</div>
	
</div>

<th:block layout:fragment="script">
<script type="text/javascript" src="../plugins/bootstrapvalidator/bootstrapValidator.min.js"></script>
<script type="text/javascript" src="../plugins/bootstrapvalidator/language/zh_CN.js"></script>
	
<script th:inline="javascript">
/*<![CDATA[*/
           
function formValidator(){
	
	$('#edit_form').bootstrapValidator({
		message: '输入信息验证不通过',
		fields: {
			title: {
				message: '标题信息输入不正确！',
				validators: {
					notEmpty: {
						message: '标题不能为空！'
					},
					stringLength: {
						min: 2,
						max: 100,
						message: '标题不能小于2个字，也不能大于100个字！'
					}
				}
			},
			content: {
				validators: {
					notEmpty: {
						message: '内容不能为空！'
					}
				}
			}
		}
	}).on('success.form.bv', function(e) {
        e.preventDefault();
       
        var editor=$('#editor')[0].contentWindow.editor;
        
        $("#content").val(editor.getHTML());
                
   	  	$.ajax({
          url: $(this).attr('action'),
          type: 'POST',
          dataType: "jsonp", 
          data: $(this).serialize(),
          success: function(result) {
          	console.log(result);

          	debugger;
              if(result.success){
              	
            	//  go2page(result.data);
              	
              }else{
              	 message(result.msg);
              }
          }
      });
    });
}

	$(function(){
		
		formValidator();
		
		$('.main-menu').on('click', 'a', function (e) {
			var parents = $(this).parents('li');
			var li = $(this).closest('li.dropdown');
			var another_items = $('.main-menu li').not(parents);
			another_items.find('a').removeClass('active');
			another_items.find('a').removeClass('active-parent');
			if ($(this).hasClass('dropdown-toggle') || $(this).closest('li').find('ul').length == 0) {
				$(this).addClass('active-parent');
				var current = $(this).next();
				if (current.is(':visible')) {
					li.find("ul.dropdown-menu").slideUp('fast');
					li.find("ul.dropdown-menu a").removeClass('active')
				}
				else {
					another_items.find("ul.dropdown-menu").slideUp('fast');
					current.slideDown('fast');
				}
			}
			else {
				if (li.find('a.dropdown-toggle').hasClass('active-parent')) {
					var pre = $(this).closest('ul.dropdown-menu');
					pre.find("li.dropdown").not($(this).closest('li')).find('ul.dropdown-menu').slideUp('fast');
				}
			}
			if ($(this).hasClass('active') == false) {
				$(this).parents("ul.dropdown-menu").find('a').removeClass('active');
				$(this).addClass('active')
			}
			if ($(this).hasClass('ajax-link')) {
				e.preventDefault();
				if ($(this).hasClass('add-full')) {
					$('#content').addClass('full-content');
				}
				else {
					$('#content').removeClass('full-content');
				}
				var url = $(this).attr('href');
				
				alert(url);
				//window.location.hash = url;
				
				//LoadAjaxContent(url);
			}
			if ($(this).attr('href') == '#') {
				e.preventDefault();
			}
		});
	});
/*]]>*/
</script>   
            
</th:block>




<a href="#top" class="back-to-top">dfdfdfdfdf
        	<i class="glyph glyph-up"></i>
        	<span class="sr-only">Back to top</span>
</a>

</body>
</html>