<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
	layout:decorator="fragments/backend_layout">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>	
	<title>后台管理</title>
	<link href="../plugins/winstrap/css/winstrap.css" rel="stylesheet" />
	<link href="../css/site.css" rel="stylesheet" />
</head>
<body>

<div layout:fragment="content">

<div class="row">
  		<div class="col-xs-24">
  			<ol class="breadcrumb">
        		<li><a href="#">Parent page</a></li>
        		<li><a href="#">Child page</a></li>
        		<li><a href="#">Section</a></li>
        		<li class="active">Current</li>
    		</ol>
    		
    		 <div class="alert-stack">
    
    <div class="alert alert-warning with-glyph alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">
                <i class="glyph glyph-cancel"></i>
            </span>
        </button>
        <span class="alert-glyph">
            <i class="glyph-info"></i>
        </span>
        <div class="alert-title">Danger alert with glyph example</div>
        <div class="row">
            <div class="col-md-20">
                <p>This is a danger inline alert with an glyph. Want to know more about what glyphs you can use?</p>
            </div>
            <div class="col-md-4">
                <p>
                    <a href="#" class="pull-right hidden-xs hidden-sm">Click here</a>
                    <a href="#" class="visible-xs-inline visible-sm-inline hidden-md">Click here</a>
                </p>
            </div>
        </div>
    </div>
    
        <!-- We can stack other alert components here -->
    </div>
        
  		</div>  		
	</div>
		
		
		<form  action="submit-product-edit.action" role="form" method="post" id="edit_form">
		
		<input type="hidden" name="id" />
		
			<div class="form-group">
			 	<label for="exampleInputEmail1">分类</label>
				<input type="text" name="category" id="category" maxlength="100" class="form-control"/>
			</div>
			
			<div class="form-group">
			 	<label for="exampleInputEmail1">标题</label>
				<input type="text" name="title" id="title" maxlength="512" class="form-control"/>
			</div>
			
			<div class="form-group">
			 	<label for="exampleInputEmail1">描述</label>
				<textarea name="remarks" id="remarks" maxlength="4000"  class="form-control" rows="3"></textarea>
			</div>
		
			<div class="form-group">
			 	<label for="exampleInputEmail1">价格</label>
				<input type="number" name="title" id="title" maxlength="10" class="form-control"/>
			</div>
			
			<div class="form-group">
    			<label for="exampleInputFile">File input</label>
    			<input type="file" id="exampleInputFile"/>
    			<p class="help-block">Example block-level help text here.</p>
  			</div>
  
			<div class="form-group">			
				<input type="hidden" name="content" id="content"/>
			</div>
			
		<div class="col-xs-12 text-center">
			
			<input type="submit" class="btn btn-default" value="发布" />
	
			<input type="submit" class="btn btn-default" value="预览" />
	
		</div>
		</form>
		
		<element class="m-r-md"></element>
		
		<div class="row">
                <div class="col-xs-24 col-md-12">
                    <div class="img-container">
                        <img src="http://placekitten.com/600/338" />
                    </div>
                </div>
                <div class="col-xs-24 col-md-12">
                    <div class="jumbotron-content">
                        <h1>hhhhhhh1</h1>
                        <p>ppppp</p>
                        <a href="">ffffff</a>
                        <button class="btn btn-primary">确定</button>
                    </div>
                </div>
    </div>
<element class="m-r-md"></element>

	<div class="row">
		<div class="col-xs-24">
			<div class="table-responsive">
    <table class="table table-striped">
        <thead>
          <tr>
            <th>Item</th>
            <th>Description</th>
            <th class="text-right">Price</th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td>Gadget Alpha</td>
                <td>This is the amazing new Gadget Alpha.</td>
                <td class="text-right">$0.99</td>
            </tr>
            <tr>
                <td>Gadget Bravo</td>
                <td>Also available is the Gadget Bravo which provides B.</td>
                <td class="text-right">$2.99</td>
            </tr>
            <tr>
                <td>Gadget Charlie</td>
                <td>This is the lorem ipsumist Gadget Charlie.</td>
                <td class="text-right">$1.99</td>
            </tr>
            <tr>
                <td>Gadget Delta</td>
                <td>Also available is the Gadget Bravo which provides B.</td>
                <td class="text-right">$2.99</td>
            </tr>
            <tr>
                <td>Gadget Echo</td>
                <td>Gadget Delta is a solor dit lipsum for consumers.</td>
                <td class="text-right">$2.99</td>
            </tr>
            <tr>
                <td>Gadget Foxtrot</td>
                <td>Gadget Echo provides solor dit for professionals.</td>
                <td class="text-right">$1.99</td>
            </tr>
        </tbody>
    </table>
    </div>
			
		</div>
	</div>
	
	<div class="row">
	<div class="col-xs-24">
	<nav>
        <ul class="pagination">        
            <li class="pagination-prev">
                <a href="#" aria-label="Previous">
                    <i aria-hidden="true" class="glyph glyph-chevron-left-2"></i>
                </a>
            </li>
    
            <li><a href="#">1</a></li>
    
            <li class="pagination-ellipsis"><span>&hellip;</span></li>
    
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
    
            <li class="active"><a href="#">7</a></li>
    
            <li><a href="#">8</a></li>
            <li><a href="#">9</a></li>
    
            <li class="pagination-ellipsis"><span>&hellip;</span></li>
    
            <li><a href="#">15</a></li>
    
            <li class="pagination-next">
                <a href="#" aria-label="Next">
                    <i aria-hidden="true" class="glyph glyph-chevron-right-2"></i>
                </a>
            </li>
        </ul>
    </nav>
	</div>
	</div>
		

</div>

<th:block layout:fragment="script">
<script type="text/javascript" src="../plugins/bootstrapvalidator/bootstrapValidator.min.js"></script>
<script type="text/javascript" src="../plugins/bootstrapvalidator/language/zh_CN.js"></script>
	
<script th:inline="javascript">
/*<![CDATA[*/
           
function formValidator(){
	
	$('#edit_form').bootstrapValidator({
		message: '输入信息验证不通过',
		fields: {
			title: {
				message: '标题信息输入不正确！',
				validators: {
					notEmpty: {
						message: '标题不能为空！'
					},
					stringLength: {
						min: 2,
						max: 100,
						message: '标题不能小于2个字，也不能大于100个字！'
					}
				}
			},
			content: {
				validators: {
					notEmpty: {
						message: '内容不能为空！'
					}
				}
			}
		}
	}).on('success.form.bv', function(e) {
        e.preventDefault();
       
        var editor=$('#editor')[0].contentWindow.editor;
        
        $("#content").val(editor.getHTML());
                
   	  	$.ajax({
          url: $(this).attr('action'),
          type: 'POST',
          dataType: "jsonp", 
          data: $(this).serialize(),
          success: function(result) {
          	console.log(result);

              if(result.success){
              	
            	//  go2page(result.data);
              	
              }else{
              	 message(result.msg);
              }
          }
      });
    });
}

	$(function(){
		
		formValidator();
		
		$('.main-menu').on('click', 'a', function (e) {
			var parents = $(this).parents('li');
			var li = $(this).closest('li.dropdown');
			var another_items = $('.main-menu li').not(parents);
			another_items.find('a').removeClass('active');
			another_items.find('a').removeClass('active-parent');
			if ($(this).hasClass('dropdown-toggle') || $(this).closest('li').find('ul').length == 0) {
				$(this).addClass('active-parent');
				var current = $(this).next();
				if (current.is(':visible')) {
					li.find("ul.dropdown-menu").slideUp('fast');
					li.find("ul.dropdown-menu a").removeClass('active')
				}
				else {
					another_items.find("ul.dropdown-menu").slideUp('fast');
					current.slideDown('fast');
				}
			}
			else {
				if (li.find('a.dropdown-toggle').hasClass('active-parent')) {
					var pre = $(this).closest('ul.dropdown-menu');
					pre.find("li.dropdown").not($(this).closest('li')).find('ul.dropdown-menu').slideUp('fast');
				}
			}
			if ($(this).hasClass('active') == false) {
				$(this).parents("ul.dropdown-menu").find('a').removeClass('active');
				$(this).addClass('active')
			}
			if ($(this).hasClass('ajax-link')) {
				e.preventDefault();
				if ($(this).hasClass('add-full')) {
					$('#content').addClass('full-content');
				}
				else {
					$('#content').removeClass('full-content');
				}
				var url = $(this).attr('href');
				
				alert(url);
				//window.location.hash = url;
				
				//LoadAjaxContent(url);
			}
			if ($(this).attr('href') == '#') {
				e.preventDefault();
			}
		});
	});
/*]]>*/
</script>

</th:block>

</body>
</html>