<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" layout:decorator="fragments/layout">
<head>
	<title>关于我们</title>	
</head>
<body>
<div layout:fragment="content">

<img src="images/aboutUs.jpg" class="img-responsive" alt="关于我们" />

<h2>关于我们</h2>
<p>
    当今社会，网络已经渗透我们生活的方方面面，是除衣食住行之后的第五种需求，<br/>对于公司来说，如果没有自己的官网，就像有地址没有门牌一样，
    叫人不能找寻，会直接降低公司的公信力，
</p><p>
        相反，如果投入小小建设，运营一个端庄、大气符合公司形象的官网，会直接提升人们对公司认同感，
        让人们相信这家公司是一个正规高素质的企业。
    </p>
<p class="lead">
    所以建立自己公司网站是提高公司形象，打造在互联网上的名片，并提供公司和客户之间的交流的一种渠道。
</p>

<p class="lead">
    而我们就是这样一个团队，为了您企业<mark>官网</mark>
    建设贡献一份力量！
</p>

<br />
<address>
    <strong>销售支持:</strong><a href="mailto:scarecrow_online@163.com">scarecrow_Online@163.com</a><br />
    <strong>售后支持:</strong><a href="mailto:sam_lucky@163.com">sam_Lucky@163.com</a>
</address>

</div>

</body>
</html>